<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" rel="stylesheet" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.css"
	rel="stylesheet" />
{{!-- <link rel="stylesheet" type="text/css" href="/jquery.datetimepicker.css"/> --}}
<style>
	* {
		margin: 0px;
		padding: 0px;
	}

	#header {
		margin: auto;
		width: 1000px;
		font-family: Arial, Helvetica, sans-serif;
	}

	ul,
	ol {
		list-style: none;

	}

	.nav>li {
		float: left;
	}

	.nav li a {
		background-color: rgb(0, 70, 144);
		color: rgb(255, 255, 255);
		text-decoration: none;
		padding: 10px 12px;
		display: block;
	}

	.nav li a:hover {
		background-color: #a8a8a8;
	}

	.nav li ul {
		display: none;
		position: absolute;
		min-width: 140px;
	}

	.nav li:hover>ul {
		display: block;
	}

	.nav li ul li {
		position: relative;
	}

	.nav li ul li ul {
		right: -140px;
		top: 0px;
	}

	.button {
		border: none;
		color: white;
		padding: 10px 12px;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		font-size: 16px;
		margin: 4px 2px;
		cursor: pointer;
	}

	.button1 {
		background-color: rgb(0, 70, 144);
	}
</style>




<div class="container">
	<br>
	<br>
	<h1 id="encab">Seleccion del Laboratorio.</h1>
	<p>Elija el laboratorio que quiere utlizar en un hora disponible</p>
	<br>
	<br>


	<div align="right" id="header">
		<p>Selecciona fecha y hora:</p>
			<form action="/solicitud" method="POST">
			<div class="row">
				<div class="col-sm-6 pl-2">
					<ul class="nav">
						<li><a href="">Laboratorios disponibles</a>
							<ul>
								<li><a href="">Laboratorio A</a></li>
								<li><a href="">Laboratorio B</a></li>
								<li><a href="">Laboratorio C</a></li>
								<li><a href="">Laboratorio D</a></li>
							</ul>
						</li>

					</ul>
				</div>

				<div class='col-sm-6'>
					<div class="form-group">
						<div align="center" class='input-group date'>

							<input id='datetimepicker' name="datetimepicker" type='text' class="form-control" />
						</div>
					</div>
				</div>
			</div>
			<button type="submit" class="button button1" id="btn_agendar">Agendar</button>
			<br>
			<br>
			</form>
			{{!-- {{#each requests}}
			<div class="row">
				<div class="col-md-4">
					<div class="card text-center">
						<div class="card-header">
							{{request_date}}
						</div>
						<div class="card-body">
							<p class="m-2">{{comments}}</p>
							<p>{{timeago created_at}}</p>
						</div>
					</div>
				</div>
				{{else}}
				<div class="col-md-4 mx-auto">
					<div class="card card-body text-center">
						<p>Aún no hay solicitudes en el portal</p>
					</div>
				</div>
				{{/each}}
			</div> --}}


			<table id="tableData" class="table table-fixed">
				<thead>
					<tr>
						<td width="1000">
							<div align="center">

								<strong>Horario</strong>
							</div>
						</td>
						<td width="100">
							<div align="center">
								<strong>Disponibilidad</strong>
							</div>
						</td>
						<td width="1000">
							<div align="center">
								<strong>Comentario</strong>
							</div>
						</td>
					</tr>
				</thead>
				<tbody>
					{{#each requests}}
					<tr class="blanco"
						onmouseover="if (typeof(this.style) != 'undefined') this.style.backgroundColor = '#ffffcc'"
						onmouseout="if (typeof(this.style) != 'undefined') this.style.backgroundColor = ''" style="">
						<td>
							<div align="center">{{request_date}}</div>
						</td>
						<td>
							<div align="center">
								<!-- <a href="javascript:makeExternalPopup('fecha=2020-12-16&hi=7')" >solicitar</a> -->
								<a href="javascript:;" onclick="formulario.submit();"
									style="color:rgb(161, 4, 69); text-decoration:underline; ">Solicitado</a>
							</div>
						</td>
						<td>
							<div align="center">&nbsp;
								<strong>{{comments}}</strong>
							</div>
						</td>

					</tr>
					{{/each}}
				</tbody>
			</table>
					

	</div>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>



	{{!-- <script src="/jquery.js"></script>
<script src="/build/jquery.datetimepicker.full.min.js"></script> --}}

</div>

{{!-- <script type="text/javascript">
</script> --}}

<script>$('#datetimepicker').datetimepicker();</script>